<div class="container mt-2">
  <div id="<%= dom_id purchase %>">
    <div class="card">
      <table>
        <tr>
          <th>Fecha del pedido</th>
        </tr>
        <tr>
          <td><%= purchase.purchase_date %></td>
        </tr>
        <tr>
          <td colspan="3">Proveedor</td>
        </tr>
        <tr>
          <td colspan="3"><%= Supplier.find(purchase.supplier_id).name %></td>
        </tr>
      </table>
    </div>
  </div>
</div>

