<h1>Editing purchase line</h1>

<%= render "form", purchase_line: @purchase_line %>

<br>

<div>
  <%= link_to "Show this purchase line", @purchase_line %> |
  <%= link_to "Back to purchase lines", purchase_lines_path %>
</div>
