<div class="container mt-2">
  <div class="row">
    <h1>Nuevo producto</h1>
  </div>
  <div class="row">
    <%= render "form", product: @product %>
  </div>
  <div class="row mt-2">
    <%= link_to "Atrás", products_path, class: "btn btn-secondary" %>
  </div>
</div>
