<div class="containr mt-2">
  <div class="row mt-2">
    <%= render @supplier %>
  </div>
  <div class="row mt-2 d-flex justify-content-center">
    <div class="row">
      <%= link_to "Editar", edit_supplier_path(@supplier), class: "btn btn-warning" %>
    </div>
    <div class="row">
      <%= link_to "Eliminar", @supplier, method: :delete, class: "btn btn-danger" %>
    </div>   
  </div>
    <div class="row">
      <%= link_to "Atrás", suppliers_path, class: "btn btn-secondary" %>
    </div>
  </div>
</div>  

